canvas {
    display: block;
    margin: auto;
    border: 3px solid white;

    max-width: 100vw;
    max-height: 100vh;

    width: auto;
    height: auto;
}

body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
